.name-file {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5px;
  padding: 2px;
  color: aliceblue;
}
.downloaded-file {
  display: flex;

  embed {
    width: 200px;
    height: 100%;
    border-radius: 10px;
    &::-webkit-scrollbar {
      width: 12px;
      height: auto;
      background-color: black;
    }
    &::-webkit-scrollbar-thumb {
      background-color: black;
      border-radius: 5px;
    }
  }
  .wrapper-img {
    width: 140px;
    height: 65px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
    border: 1px solid #233343;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    &:hover {
      border: 1px solid #5f6a74;
    }
  }
}
.document {
  min-width: 224px;
  height: 65px;
  border-radius: 8px;
  border: 1px solid #5f6a74;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all 0.3s;
  text-decoration: none;
  &:hover {
    border: 1px solid #464f58;
    background-color: #273442;
    cursor: pointer;
  }
  p {
    margin: 0;
  }
  span {
    font-size: 10px;
    color: aliceblue;
  }
  svg {
    path: red;
  }
}
