#kanban {
  white-space: nowrap;
}

.scrollable-board {
}

.list {
  width: 440px;
  border-radius: 8px;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  .dx-scrollview-content {
    display: block;
  }
}

.list-title {
  padding: 10px;
  padding-left: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  color: white;
}

.scrollable-list {
  width: 100%;
}

.sortable-cards,
.dx-sortable {
  min-height: 700px;
}

.card-subject {
  padding-bottom: 10px;
}

.card-assignee {
  opacity: 0.6;
}

.card-priority {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 5px;
  width: 5px;
  border-radius: 2px;
  background: #adadad;
}

.dx-scrollview-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.priority-high {
  background-color: rgb(225, 0, 0);
}
.priority-medium {
  background-color: rgb(226 142 0);
}
.priority-low {
  background-color: green;
}

// .priority-1 {
//   background: #adadad;
// }

// .priority-2 {
//   background: #86c285;
// }

// .priority-3 {
//   background: #edc578;
// }

// .priority-4 {
//   background: #ef7d59;
// }
