.table {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.kanban-column {
  min-height: 700px;
  width: 440px;
  border-radius: 8px;
  vertical-align: top;
  white-space: normal;
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
}

.kanban-task {
  margin-bottom: 20px;
}

.card-priority {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 5px;
  width: 5px;
  border-radius: 2px;
  background: #adadad;
}

.priority-high {
  background-color: rgb(225, 0, 0);
}
.priority-medium {
  background-color: rgb(226 142 0);
}

.priority-low {
  background-color: green;
}
