.label {
  display: flex !important;
  align-items: center;
}

.priority-active {
  position: relative;
  flex: 1;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  padding: 5px;
  border: 1px solid var(--change-bg);
  border-radius: 4px;
  transition: border-color 500ms;
  &:hover {
    border: 1px solid #5f6a74;
  }
}
.dropdown-priority {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -120px;
  background-color: white;
  color: black;
  padding: 10px 0;
  z-index: 10;
  border-radius: 4px;
  .priority-list {
    padding: 5px 10px;
    cursor: pointer;
    border-bottom: 1px solid white;
    transition: all 0.5s;
    &:hover {
      border-bottom: 1px solid rgb(176, 176, 176);
    }
  }
}
