.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  background-color: var(--change-bg);
  z-index: 100;
  padding: 10px;
  animation: change-sidebar 0.5s ease-in-out;
  overflow-y: auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  .wrapper-input {
    position: relative;
    label {
      display: block;
      margin-bottom: 10px;
      color: #6d6e6f;
    }
  }

  .title,
  .description-text {
    width: 100%;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: inherit;
    color: white;
    font-size: 32px;
    border: 1px solid #233343;

    &:hover {
      border: 1px solid #5f6a74;
      transition: border-color 500ms;
    }
    &:focus {
      border: 1px solid;
    }
  }

  .description-text {
    max-width: 100%;
    min-width: 100%;
    min-height: 120px;
    font-size: 16px;
    max-height: 180px;
  }
  .priority-active {
    color: white;
    cursor: pointer;
    margin-left: 10px;
  }
  .dropdown-priority {
    position: absolute;
    width: 70%;
    right: 0;
    top: 100%;
    background-color: white;
    color: black;
    padding: 10px 0;
    z-index: 10;
    border-radius: 4px;
    .priority-list {
      padding: 5px 10px;
      cursor: pointer;
      border-bottom: 1px solid white;
      transition: all 0.5s;
      &:hover {
        border-bottom: 1px solid rgb(176, 176, 176);
      }
    }
  }

  .wrapper-subtask {
    .label {
      margin-bottom: 10px;
      color: #6d6e6f;
    }
  }
  .subtask-add {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 1px solid #5f6a74;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.4s;
    margin-top: 20px;
    &:hover {
      border: 1px solid #464f58;
      background-color: #273442;
    }
  }
  .subtask-item {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-bottom: 1px solid rgb(208, 208, 208);
    padding: 0 10px;
    outline: none;
    &:hover {
      background-color: rgb(235, 235, 235);
    }
    input {
      padding: 10px;
      width: 100%;
      background: none;
    }

    .subtask-checkbox {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 20px;
      min-height: 20px;
      border-radius: 50%;
      border: 1px solid rgb(170, 170, 170);
      cursor: pointer;
      transition: all 0.4s;
      &:hover {
        border: 1px solid green;
        svg {
          fill: green;
        }
      }
    }
    .subtask-checkbox__active {
      background-color: green;
      border: 1px solid white;
      svg {
        fill: white;
      }
      &:hover {
        background-color: rgb(0, 110, 0);

        svg {
          fill: white;
        }
      }
    }
    .subtask-delete {
      cursor: pointer;
      &:hover {
        svg {
          transition: all 0.5s;

          fill: red;
        }
      }
    }
  }
  .subtask-item__active {
    background-color: #f1f2fc !important;
    input {
      background-color: #f1f2fc;
    }
  }
  .wrapper-files {
    border-radius: 4px;
    border: 1px solid #5f6a74;
    padding: 10px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    .comment {
      min-height: 100px;
      textarea {
        min-width: 100%;
        max-width: 100%;
        min-height: 100px;
        max-height: 300px;
        background: none;
        color: aliceblue;
      }
    }
  }

  .download-wrapper {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .download-wrapper__files {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
      margin-top: 10px;
    }
  }
}

@keyframes change-sidebar {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
