.task__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  padding: 10px;
  padding-left: 16px;
  list-style: none;
  width: 100%;
  min-height: 200px;
  text-align: center;
  border-radius: 5px;
  color: var(--color-text-task);
  cursor: grab;
  background-color: var(--task-bg);
  border: 2px solid var(--light-color);
  transition: all 0.5s;
  &:hover {
    box-shadow: var(--shadow);
  }

  &-priority {
    top: 35px;
    right: 5px;
    position: absolute;
    width: max-content;
    padding: 4px 25px;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    line-height: 15px;
  }

  &-high {
    background-color: rgb(225, 0, 0);
  }
  &-medium {
    background-color: rgb(226 142 0);
  }

  &-low {
    background-color: green;
  }

  .task__date {
    font-size: 12px;
    line-height: 16px;
    padding: 2px;
    text-align: start;
    span {
      font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
        'Courier New', monospace;
    }
  }
  .task__subtasks {
    position: absolute;
    right: 20px;
    top: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    font-size: 14px;
  }

  .btn {
    background-color: var(--color-btn);
    height: 40px;
    color: var(--light-color);
    &:hover {
      opacity: 0.9;
    }
  }

  .time-work__active span {
    color: green;
  }
  .time-work__disabled span {
    color: red;
  }

  .task__number {
    position: absolute;
    top: 5px;
    right: 10px;
  }
}

.expand {
  height: max-content;
  .description {
    white-space: wrap;
    overflow: visible;
    text-overflow: normal;
  }
}
