.close {
  position: absolute;
  right: 10px;
  top: 0;

  button {
    background-color: black;
    cursor: pointer;
  }
}

.type-1 {
  height: 40px;
  .inner {
    display: block;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    &:before {
      content: '';
      position: absolute;
      height: 2px;
      width: 30px;
      background-color: #fff;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      transition: ease-out 0.2s all;
    }
    &:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 30px;
      background-color: #fff;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: ease-out 0.2s all;
    }
  }
  .label {
    color: #fff;
    opacity: 0;
    transition: all 0.2s ease-out;
    font-size: 9px;
  }
  &:hover,
  &:focus {
    .inner {
      &:before {
        transform: translate(-50%, 0%) rotate(0);
        top: 25%;
      }
      &:after {
        transform: translate(-50%, 0%) rotate(0);
        top: 76%;
      }
    }
    .label {
      opacity: 1;
    }
  }
}
.type-2 {
  width: 60px;
  height: 60px;
  position: relative;
  border: 1px solid #fff;
  border-radius: 50%;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: #fff;
    transition: 0.3s ease-out;
    left: 50%;
    top: 50%;
  }
  &:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &:hover,
  &:focus {
    &:before,
    &:after {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
}
.type-3 {
  width: 50px;
  height: 50px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 50px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: ease-out 0.3s all;
  }
  &:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 50px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: ease-out 0.3s all;
  }
  &:hover,
  &:focus {
    &:before {
      transform: translate(-50%, -50%) rotate(135deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(225deg);
    }
  }
}
