* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #374a5d !important;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 20px;
  color: aliceblue;
}

.header {
  text-align: center;
}
