* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #374a5d !important;
  font-size: 16px;
  line-height: 19px;
}

button,
input,
textarea {
  outline: none;
  border: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 20px;
  color: aliceblue;
}

.header {
  text-align: center;
}

.btn {
  padding: 10px;
  width: 100%;
  height: 40px;
  cursor: pointer;
  background-color: grey;
  border-radius: 4px;
}
