.popup__create {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: black;
  border-radius: 4px;

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  .form__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    input,
    textarea {
      padding: 10px;
      border-radius: 4px;
    }

    textarea {
      max-width: 100%;
      min-width: 100%;
      max-height: 200px;
      min-height: 80px;
    }

    input[type='file'] {
      display: none;
    }

    .file {
      background-color: white;
      border-radius: 4px;
      padding: 10px;
      color: black;
      cursor: pointer;
    }

    &-priority {
      display: flex;
      align-items: center;
      gap: 20px;
      span {
        padding: 5px 20px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 12px;
        transition: all 0.5s;
        font-weight: bold;
        background-color: grey;

        &:hover {
          opacity: 0.9;
        }
      }
      .priority__item-high {
        background-color: red;
      }
      .priority__item-medium {
        background-color: rgb(226 142 0);
      }
      .priority__item-low {
        background-color: green;
      }
    }
  }

  .btn__create {
    background-color: greenyellow;
    transition: all 0.3s;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
      background-color: green;
      color: white;
    }

    &:disabled {
      pointer-events: none;
    }
  }
}
